.footer{
    margin:15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #797979;
    padding: 15px;

}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
